.btn {
  border: none;
  border-radius: 50%;
  width: 28px;
  height: 28px;
  background-color: #000;
  color: #fff;

  &:last-of-type {
    margin-left: 30px;
  }

  &__light {
    background-color: #5f5e5e;

    &.selected {
      background-color: #979797;
    }
  }

  &__lighter {
    background-color: #979797;
  }

  &__dark {
    background-color: rgb(56, 56, 56);
  }

  &__colored {
    background-color: rgb(221, 118, 0);

    &.selected {
      color: rgb(221, 118, 0);
      background-color: #fff;
    }
  }
}
