@font-face {
  font-family: 'Roboto Mono';
  font-style: normal;
  font-weight: 400;
  src: url('../../fonts/roboto-mono-v13-latin_cyrillic-regular.woff2') format('woff2'),
       url('../../fonts/roboto-mono-v13-latin_cyrillic-regular.woff') format('woff');
}

body {
  font-family: 'Roboto Mono';
  font-size: 16px;
}